{% extends 'base.html.twig' %}

{% block title %}
	Votre Panier
{% endblock %}

{% block body %}
	<h1>Votre panier</h1><hr>
	{% if items | length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{ item.product.name }}</td>
						<td>{{ item.product.price }}</td>
						<td>
							<a href="{{path("cart_decrement", {'id': item.product.id})}}" class="btn btn-sm">
								<i class="fas fa-minus"></i>
							</a>
							{{ item.qty }}
							<a href="{{path("cart_add", {'id': item.product.id})}}?returnToCart=true" class="btn btn-sm">
								<i class="fas fa-plus"></i>
							</a>
						</td>
						<td>{{ item.total }}</td>
						<td>
							<a href="{{ path('cart_delete', {'id': item.product.id})}}" class="btn btn-sm btn-outline-danger">
								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<td colspan="3">Total :</td>
				<td colspan="2">{{ total }}&nbsp;&euro;</td>
			</tfoot>
		</table>
		{% if app.user %}
			<hr>

			<h2>Confirmez votre commande en remplissant ce formulaire</h2>

			{{ form_start(confirmationForm, {'action': path('purchase_confirm')})}}

			{{ form_widget(confirmationForm)}}

			<button type="submit" class="btn btn-success">Je confirme !</button>

			{{ form_end(confirmationForm) }}
		{% else %}
			<h4>Vous devez être connecté pour confirmer cette commande</h4>
			<a href="{{path("security_login")}}" class=" btn btn-success btn-sm">Connexion</a>
			ou
			<a href="#">Créer un compte</a>
		{% endif %}

	{% else %}
		<h3>Le panier est vide</h3>
	{% endif %}
{% endblock %}
