{% extends "base.html.twig" %}

{% block title %}
	Login
{% endblock %}

{% block body %}
	<h1>Connexion</h1>
	<hr>
	{% if error %}
		<div class="alert alert-danger">
			{{ error.message }}
		</div>
	{% endif %}
	{{ form_start(formView)}}
	<div class="row mb-2">
		<div class="col">
			{{ form_row(formView.email)}}
		</div>
		<div class="col">
			{{ form_row(formView.password)}}
		</div>
	</div>
	<button class="btn btn-success">Connexion</button>

	{{ form_errors(formView)}}

	{{ form_end(formView)}}
{% endblock %}
