{% extends "base.html.twig" %}

{% block title %}
	Modification de la catégorie :
	{{ category.name }}
{% endblock %}

{% form_theme formView 'shared/_formErrors.html.twig' %}

{% block body %}
	<h1>Modifier :
		{{category.name}}</h1>

	{{ form_start(formView)}}

	{{ form_errors(formView)}}

	<div class="row">
		<div class="col">
			{{ form_row(formView.name) }}
		</div>
	</div>
	<button class="btn btn-dark" type="submit">
		<i class="fas fa-save"></i>
		Mettre à jour
	</button>

	{{ form_end(formView)}}
{% endblock %}
